* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Georgia, Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px; /* 1rem */
  scroll-behavior: smooth;
}

.page {
  --primary: #F1CDB3;
  --primary-light: #FDDCC4;
  --light-xl: #fff;
  --light-s: #fafafa;
  --light-l: #F6F6F6;
  --dark-3xl: #292929;
  --dark-xl: #4C4C4C;
  --dark-l: #545454;
  --dark-m: #B2B2B2;
  --dark-s: #CDCDCD;
  --dark-0: #000;
  --start-bg: #211F20;
  --start-gradient1: #5B483A;
  --start-gradient2: #262425;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 1280px;
  outline: 2px solid green;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
    width: 100%;
    outline: 2px solid red;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 30px;
    outline: 2px solid blue;
  }
}

.title {
  font-family: Georgia, Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}


/****************
START SCREEN
****************/
.start-screen {
  padding-top: 60px;
  height: 908px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: cover;
}

@media (max-width: 1279px) {
  .start-screen {
    padding-top: 30px;
    height: 1165px;
  }
}


/****************
HEADER
****************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid black;
}

.logo {
  width: 190px;
  height: 60px;
}

.logo-title {
  padding-bottom: 10px;
  width: 186px;
  font-family: Georgia, Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-align: right;
  color: var(--primary);
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.logo-subtitle {
  width: 184px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-align: right;
  color: var(--light-xl);
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 36px;
  margin-top: -3px;
  width: 445px;
  height: 27px;
}

.nav-li {
  list-style: none;
}

.nav-a {
  padding-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--dark-s);
  text-decoration: none;
}

.nav-a.active {
  border-bottom: 3px solid var(--primary);
  color: var(--light-s);
}

.nav-a:hover {
  color: var(--light-s);
}


/****************
START
****************/
.start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 100px;
  margin: 0 auto;
  padding-top: 60px;
  height: 728px;
  outline: 2px solid black;
}

@media (max-width: 1279px) {
  .start {
    padding-top: 60px;
    width: 569px;
    height: 1015px;
  }
}

.start-content-text {
  margin-top: 163px;
  width: 460px;
  height: 322px;
}

@media (max-width: 1279px) {
  .start-content-text {
    margin: 0 auto;
  }
}

.start-title {
  margin-bottom: 42px;
  width: 310px;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: var(--light-xl);
}

.start-text {
  margin-bottom: 42px;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--dark-s);
}

.start-btn {
  display: block;
  padding: 15px 44px;
  width: 207px;
  height: 52px;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: var(--dark-3xl);
  background-color: var(--primary);
  cursor: pointer;
}

@media (max-width: 1279px) {
  .start-btn {
    margin: 0 auto;
  }
}

.start-btn:hover {
  background-color: var(--primary-light);
}

.start-content-img {
  width: 698px;
  height: 728px;
  background-image: url(../../assets/images/start-screen-puppy.png);
}

@media (max-width: 1279px) {
  .start-content-img {
    margin-left: 70px;
    margin-right: -70px;
    width: 569px;
    height: 593px;
    background-size: cover;
  }
}


/****************
MAIN
****************/


/****************
ABOUT
****************/
.about {
  padding: 80px 0 100px 0;
  height: 588px;
  background-color: var(--light-xl);
}

@media (max-width: 1279px) {
  .about {
    height: 1048px;
  }
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 175px;
}

@media (max-width: 1279px) {
  .about-content {
    flex-direction: column-reverse;
    row-gap: 80px;
  }
}

.about-content-img {
  display: block;
  width: 300px;
  height: 408px;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 430px;
  height: 380px;
}

.about-title {
  width: 370px;
  text-align: left;
  color: var(--dark-l);
}

.about-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: var(--dark-xl);
}


/****************
PETS
****************/
.pets {
  padding: 80px 0 100px 0;
  height: 877px;
  background-color: var(--light-l);
}

.pets-content {
  height: 697px;
}

.pets-title {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  color: var(--dark-l);
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
  background-color: #999;
}

.arrow {
  width: 52px;
  height: 52px;
  border: 2px solid var(--primary);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--primary);
}

.arrow-left {
  background-image: url(../../assets/svg/arrow-left.svg);
}

.arrow-right {
  background-image: url(../../assets/svg/arrow-right.svg);
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 990px;
}

@media (max-width: 1279px) {
  .slider {
    margin: 0 12px;
    width: 580px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 30px;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: var(--light-s);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 2px 35px 14px #0D0D0D0A;
  background-color: var(--light-xl);
}

.card-img {
  border-radius: 9px 9px 0 0;
}

.card-name {
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: var(--dark-l);
}

.card-btn {
  display: block;
  margin: 0 auto;
  width: 187px;
  height: 52px;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: 2px solid var(--primary);
  border-radius: 100px;
  background-color: var(--light-s);
  cursor: pointer;
}

.card:hover > .card-btn {
  background-color: var(--primary);
}

.card3 {
  display: block;
}

@media (max-width: 1279px) {
  .card3 {
    display: none;
  }
}

.pets-btn {
  display: block;
  margin: 0 auto;
  width: 261px;
  height: 52px;
  border: none;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: var(--dark-3xl);
  background-color: var(--primary);
}


/****************
HELP
****************/
.help {
  padding: 80px 0 100px 0;
  height: 611px;
  background-color: var(--light-xl);
}

.help-content {
  height: 431px;
}

.help-title {
  margin: 0 auto;
  width: 310px;
  text-align: center;
  color: var(--dark-l);
}

.help-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
  margin: 60px 85px;
}

.help-img {
  display: block;
  margin: 0 auto;
}

.help-text {
  margin-top: 30px;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--dark-l);
}


/****************
DONATION
****************/
.donation {
  padding: 80px 0 100px 0;
  height: 462px;
  background-color: var(--light-l);
}

.donation-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
  width: 915px;
  height: 282px;
}

.donation-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.donation {
  color: var(--dark-l);
}

.subtitle {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--dark-l);
}

.credit-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 15px;
  align-items: center;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: var(--primary);
}

.credit-card-img {
  margin-left: 15px;
}

.credit-card-text {
  text-decoration: none;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;  
  color: var(--dark-l);
}

.donation-info {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--dark-m);
}


/****************
FOOTER
****************/
.footer {
  padding-top: 40px;
  height: 350px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
  linear-gradient(0deg, #211F20, #211F20);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 310px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  height: 234px;
  max-width: 300px;
}

.footer-title {
  width: 280px;
  color: var(--light-l);
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.contact-text {
  margin-left: 20px;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: var(--primary);
}

.footer-img {
  display: block;
}